USE [master]
GO
/****** Object:  Database [ShopDongHo]    Script Date: 12/26/2023 10:07:29 AM ******/
CREATE DATABASE [ShopDongHo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopBanGiay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopBanGiay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopBanGiay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopBanGiay_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopDongHo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopDongHo]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 12/26/2023 10:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaChiTietHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NULL,
	[SoLuong] [bigint] NULL,
	[MaHoaDon] [int] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaChiTietHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiTuongSD]    Script Date: 12/26/2023 10:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTuongSD](
	[MaDoiTuongSD] [int] NOT NULL,
	[TenDoiTuongSD] [nvarchar](50) NULL,
 CONSTRAINT [PK_DoiTuongSD] PRIMARY KEY CLUSTERED 
(
	[MaDoiTuongSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 12/26/2023 10:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[MaHoaDon] [int] NOT NULL,
	[HoVaTen] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [nvarchar](max) NULL,
	[TongTien] [bigint] NULL,
	[MaDonDatHang] [int] IDENTITY(1,1) NOT NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_DonDatHang_1] PRIMARY KEY CLUSTERED 
(
	[MaDonDatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/26/2023 10:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[NgayMua] [datetime] NULL,
	[DaMua] [bit] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 12/26/2023 10:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDung] [nvarchar](max) NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[Quyen] [bit] NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 12/26/2023 10:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[MaNSX] [int] IDENTITY(1,1) NOT NULL,
	[TenNSX] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhaSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/26/2023 10:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](max) NULL,
	[DonGia] [bigint] NULL,
	[HinhAnh] [nvarchar](50) NULL,
	[LoaiDongHo] [nvarchar](50) NULL,
	[MaNSX] [int] NOT NULL,
	[MaDoiTuongSD] [int] NOT NULL,
	[DaXoa] [bit] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHoaDon], [MaSanPham], [SoLuong], [MaHoaDon]) VALUES (2043, 8379, 3, 2014)
INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHoaDon], [MaSanPham], [SoLuong], [MaHoaDon]) VALUES (2044, 8380, 1, 2015)
INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHoaDon], [MaSanPham], [SoLuong], [MaHoaDon]) VALUES (2045, 8379, 1, 2016)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
INSERT [dbo].[DoiTuongSD] ([MaDoiTuongSD], [TenDoiTuongSD]) VALUES (0, N'Nam')
INSERT [dbo].[DoiTuongSD] ([MaDoiTuongSD], [TenDoiTuongSD]) VALUES (1, N'Nữ')
INSERT [dbo].[DoiTuongSD] ([MaDoiTuongSD], [TenDoiTuongSD]) VALUES (2, N'Unisex')
GO
SET IDENTITY_INSERT [dbo].[DonDatHang] ON 

INSERT [dbo].[DonDatHang] ([MaHoaDon], [HoVaTen], [DiaChi], [SDT], [TongTien], [MaDonDatHang], [TinhTrang]) VALUES (2014, N'Người dùng 1', N'Địa chỉ người dùng 1', N'0987654321', 102000, 2012, 1)
INSERT [dbo].[DonDatHang] ([MaHoaDon], [HoVaTen], [DiaChi], [SDT], [TongTien], [MaDonDatHang], [TinhTrang]) VALUES (2016, N'Người dùng 2', N'ĐỊa chỉ ok', N'0987654321', 34000, 2013, 1)
INSERT [dbo].[DonDatHang] ([MaHoaDon], [HoVaTen], [DiaChi], [SDT], [TongTien], [MaDonDatHang], [TinhTrang]) VALUES (2015, N'Người dùng 1', N'Địa chỉ người dùng 1', N'0987654321', 25000, 2014, 1)
SET IDENTITY_INSERT [dbo].[DonDatHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [MaNguoiDung], [NgayMua], [DaMua]) VALUES (2014, 2009, CAST(N'2023-12-26T08:22:59.243' AS DateTime), 1)
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaNguoiDung], [NgayMua], [DaMua]) VALUES (2015, 2009, CAST(N'2023-12-26T08:23:58.290' AS DateTime), 1)
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaNguoiDung], [NgayMua], [DaMua]) VALUES (2016, 2010, CAST(N'2023-12-26T08:24:56.443' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenNguoiDung], [TenDangNhap], [MatKhau], [Quyen]) VALUES (7, N'admin', N'admin', N'21232f297a57a5a743894a0e4a801fc3', 1)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenNguoiDung], [TenDangNhap], [MatKhau], [Quyen]) VALUES (2009, N'Tên Người Dùng 1', N'nguoidung1', N'b562f20efc65e67ee63dfe447727c77a', 0)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenNguoiDung], [TenDangNhap], [MatKhau], [Quyen]) VALUES (2010, N'Người dùng 2', N'nguoidung2', N'2ba4429b433335ed1e92648284126e21', 0)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaSanXuat] ON 

INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX]) VALUES (0, N'CASIO')
INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX]) VALUES (1, N'Audemars Piguet
')
INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX]) VALUES (2, N'Mido')
SET IDENTITY_INSERT [dbo].[NhaSanXuat] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [DonGia], [HinhAnh], [LoaiDongHo], [MaNSX], [MaDoiTuongSD], [DaXoa]) VALUES (8379, N'Đồng Hồ A', 34000, N'00.png', N'Ana-Digi', 1, 2, 1)
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [DonGia], [HinhAnh], [LoaiDongHo], [MaNSX], [MaDoiTuongSD], [DaXoa]) VALUES (8380, N'Đồng hồ B', 25000, N'01.png', N'Ana-Digi', 2, 2, 0)
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [DonGia], [HinhAnh], [LoaiDongHo], [MaNSX], [MaDoiTuongSD], [DaXoa]) VALUES (8381, N'dong ho 33333333', 63000, N'02.png', N'Analog', 4, 1, 0)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_HoaDon]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NguoiDung]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DoiTuongSD] FOREIGN KEY([MaDoiTuongSD])
REFERENCES [dbo].[DoiTuongSD] ([MaDoiTuongSD])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DoiTuongSD]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaSanXuat] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NhaSanXuat] ([MaNSX])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaSanXuat]
GO
/****** Object:  StoredProcedure [dbo].[GetMaHoaDon]    Script Date: 12/26/2023 10:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetMaHoaDon] 
	@maNguoiDung int
AS
BEGIN
	SET NOCOUNT ON;
	declare @TaoMoi int = 
	(
		select top 1 MaHoaDon 
		from HoaDon
		where DaMua = 0 and MaNguoiDung = @maNguoiDung
	)

	if (@TaoMoi > 0) 
		return @TaoMoi;
	
	begin
		insert into HoaDon(MaNguoiDung, NgayMua, DaMua)
		values (@maNguoiDung, GETDATE(), 0);
	end
	begin
		set @TaoMoi = (
			select top 1 MaHoaDon 
			from HoaDon
			where DaMua = 0 and MaNguoiDung = @maNguoiDung
		)
	end
	return @TaoMoi
END
GO
/****** Object:  StoredProcedure [dbo].[ThemVaoCTHoaDon]    Script Date: 12/26/2023 10:07:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ThemVaoCTHoaDon] 
	@masanpham int, 
	@soluong bigint,
	@mahoadon int
AS
BEGIN
	SET NOCOUNT ON;
	declare @tontai int = 
	(
		select top 1 SoLuong 
		from ChiTietHoaDon
		where MaHoaDon = @mahoadon and  MaSanPham = @masanpham
	)
	if (@tontai > 0) 
		begin
			update ChiTietHoaDon
			set SoLuong = @soluong
			where MaHoaDon = @mahoadon and MaSanPham = @masanpham
		end
	else 
		begin
			insert into ChiTietHoaDon(MaSanPham, SoLuong, MaHoaDon)
			values (@masanpham, @soluong, @mahoadon);
		end
END
GO
USE [master]
GO
